<% contentFor("title"){ %>
register
<% } %>
<% contentFor("style"){ %>
<% } %>

<style>
  .auth-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-wrapper .sign-form{
    max-width: 350px;
    width: 100%;
    padding: 0 20px;
  }

  .auth-wrapper h1{margin-bottom: 20px;}
</style>
  
<div class="auth-wrapper">
  <div class="sign-form">
    <h1>ثبت نام</h1>

    <%= form_for(user, {action: usersPath()}) { %>
    <label for="Name">نام</label>
    <input type="text" class="form-control" name="Name" id="Name">
    <br>
    <label for="Email">ایمیل</label>
    <input type="text" class="form-control" name="Email" id="Email">
    <br>
    <label for="Password">پسورد</label>
    <input type="password" class="form-control" name="Password" id="Password">
    <br>
    <label for="PasswordConfirmation">تکرار پسورد</label>
    <input type="password" class="form-control" name="PasswordConfirmation" id="PasswordConfirmation">
      <%#= f.InputTag("Email") %>
      <%#= f.InputTag("Password", {type: "password"}) %>
      <%#= f.InputTag("PasswordConfirmation", {type: "password"}) %>
    <br>
      <button class="btn btn-success">ثبت نام</button>
    <% } %>
    <br>
    <br>
    <a class="" href="/login">ورود</a>
    <br>
    <a class="" href="/recovery">فراموشی کلمه عبور</a>

  </div>
</div>

<% contentFor("script"){ %>
<% } %>
